.body{

    background-color: royalblue;
}
h2 {
    /* Box-model */
    padding: 20px 0;
  
    /* Positioning */
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
  
    /* Typography */
    color:gray;
    text-align: center;
  
    /* Visual */
    background: white;
  }

  .p1
  {
          /* Box-model */
    padding: 20px 0;
  
    /* Positioning */
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
  
    /* Typography */
    color:gray;
    text-align: center;
  
    /* Visual */
    background: white;
  }
  