

h2 {
    text-align: center;
    font-size: 30px;
    font-display: initial;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .p
  {
          /* Box-model */
    padding: 20px 0;
  
    /* Positioning */
    margin: 0;
    margin-bottom: 20px;
    font-size: 20 px;
    margin-top: 15px;
    margin-bottom: 15px;
  
    /* Typography */
    color:blue;
    text-align: center;
  
    /* Visual */
    background: white;
  }
.ul
{
    color: brown;
    text-overflow: initial;
}
    
  #jumbotron
  {
      padding: 50;
      margin-block: 20;
      background-color: gold;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .jumbotron
  
    {
        
        background-color: goldenrod;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    
        }
    
  



  .list-example{
      background-color: gold;
  }
  .h4{

    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .h6
  {  padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 75px;
  }
  .h41{

    margin-top: 15px;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 44px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #main-bio,
#contact-info,
#bio-image {
  float: left;
}
#fat
{
    margin-top: 15px;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.jumbotron2
{
           
    background-color: silver;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 20px;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;

}

#sat
{
   
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}
.sat 

{   margin-top: 15px;
    margin-bottom: 15px;

    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px #000000;
    text-align: center;
    font-style: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    font-size: 20px;
}
.colored-container
{
  
    min-height: 1200px;
    display: block;
}
footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
   margin: 0;
   padding: 0;
}
footer .copyright li {
   display: inline-block;
   margin: 0;
   padding: 0;
   line-height: 24px;
}
.ie footer .copyright li {
  display: inline;
}
footer .copyright li:before {
   content: "\2022";
   padding-left: 10px;
   padding-right: 10px;
   color: #095153;
}
footer .copyright  li:first-child:before {
   display: none;
}

/* social links */
footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 42px;
   color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }
/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }
